body{
    background-color:#075e69cb ;
    font-family:'Roboto' ;
    font-size: 1.8em;
}

button{
    color: black;
    background-color: yellow;
    font-size: 0.9em;
    border: solid #075e69cb;
    /* border-radius: 10em; */
}

/* Nav */

nav{
    margin: 0;
    padding: 0;
    
}
#hamnav{
    width: 100%;
    background: #075e69cb;
    position: sticky;
    top: 0;
    border-bottom: solid yellow;
    
}


#hamnav label, #hamburger { display: none;}

#hamitems{ 
    display: flex;
    width: 50%;
    padding-top: 20px;
    height: 40px;
}
#hamitems a{
    width: 20%;
    padding: 5px;
    color: black;
    text-decoration: none;
    text-align: center;
    height: 50px;
}
#hamitems a:hover{
    background: #327581d8;
}

/* main page */

.mainPage{
    /* background-color: #075e69cb; */
    /* overflow-y: scroll; */
     /* background-color: #075e69cb; */
     /* width: 100%; */
     /* height:100%; */
     /* font-size: 0; */
}
.image img{
    padding: 15px;
    width: 10%;
    height: 80px;
    border-radius: 10px;
    padding-left: 40px;
}
.image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pic{
    width: 60%;
    height:70%;
    padding-top: 40px;
    padding-right: 15px ;
    padding-left: 50px;
}

.pic img{
    padding-top: 25px;
    width: 100%;
    height: 100%;
}
.info{
    background-color: #075e69cb;
    padding-top: 10%;
    /* padding-left: 8px; */
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    padding-right: 50px;
}
.info h1{
    /* text-align: center; */
    font-size: 2em;
    padding-bottom: 5px;  
    /* border-bottom: solid yellow; */
    /* text-decoration: underline yellow; */
}

.info p{
    /* text-align: center; */
    font-size: 0.9em;

}

.info button{
    align-content: flex-start;
    
}
#about h4{
    /* border-bottom: solid yellow; */
    text-align: center;
    /* text-decoration: underline yellow; */
}
#about p{
    padding-left: 50px;
    padding-right: 50px;
}
#about{
    background-color: #075e69cb;
    padding:5px;
    height: 300px;
    padding-top: 10%;
}
#ContactUs h4{
    /* border-bottom: solid yellow; */
    /* text-align: center; */
    /* text-decoration: underline yellow; */
    /* text-decoration: dotted yellow; */
}
#ContactUs{
    background-color: #075e69cb;
    padding: 5px;
    padding-bottom: 10%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 150px;
    height: 400px;
}

/* login */
.page{
      width: 100%;
    height: 850px;
    background-color: #075e69cb;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.loginPage{
   
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.login{
   height: 300px;
   width: 350px;
    /* text-align: center; */
    border: solid black;
    padding: 5px;
}
.login a{
    color: darkblue;
}
.login label{
    text-align: left;
}
/* Sign up */
.register{
    background-color: #075e69cb;
    border: solid yellow;
    padding: 10px;
    /* width: 35%; */
    height: 850px;
    /* align-content: center; */
}

#fname , #Sname , #email ,#address,#password,#cpassword{
    height: 23px;
    width: 180px;
}

/*  listings page*/
.CarsGrid{
    border: solid yellow;
    padding: 10px;
}
.CarsGrid h4{
 font-size: 1.5em;
}

.CarsGrid h6{
    font-size: 1em;
}
/* car 1 */
.Car1{
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car1 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car1 .name{
    width: 150%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
   
}
/*  car 2 */
.Car2{
    display: flex;
    flex-direction: row;
    width: 460%;
    height: 110px;
    padding-bottom: 10px;
}

.Car2 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car2 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
    
}

/* car3 */

.Car3{
    display: flex;
    flex-direction: row;
    width: 250%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car3 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car3 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* car4 */
.Car4{
    display: flex;
    flex-direction: row;
    width: 2700px;
    height: 110px; 
    padding-bottom: 10px;
}

.Car4 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car4 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* car5 */

.Car5{
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car5 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car5 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* car6 */

.Car6{
    display: flex;
    flex-direction: row;
    width: 28%;
    height: 120px; 
    padding-bottom: 10px;
}

.Car6 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car6 .name{
    width: 250%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* car 7 */

.Car7{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car7 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car7 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* car 8 */

.Car8{
    display: flex;
    flex-direction: row;
    width: 120%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car8 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car8 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}
 /* car 9 */

 .Car9{
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car9 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car9 .name{
    width: 110%;
    height: 90px;
    font-size: 0.8em;
    padding-left: 10px;
   
}
/* car 10 */

.Car10{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 110px; 
    padding-bottom: 10px;
}

.Car10 img{
    width: 100%;
    height: 100%; 
    padding-right: 0;
}

.Car10 .name{
    width: 1500%;
    height: 10px;
    font-size: 0.8em;
    padding-left: 10px;
   
}

/* bookingCar */
.DetailsPage{
    border: solid yellow;
    padding: 15px;
}
.DetailsPage h4{
    font-size: 1.5em;
    padding-bottom: 0;
}

   .DetailsPage h6{
    font-size: 1em;
}
.DetailsPage li{
    font-size: 0.6em;
}

.account{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* padding-bottom: 0; */
}

.account span{
    padding-left: 8px;
    font-size: 0.7em;
    text-align: center;
    padding-top: 5px;
}
.account .material-icons{
    /* padding-top: 6px; */
    justify-content: center;
    /* padding-right: 5px; */
}
.review {
    height: 5%;
    padding-top: 5px;
    width: 80%;
}
.review .head{
    font-size:0.8em ;
    font-style: bold;
    text-decoration: underline black;
}
.review p{
    font-size: 0.6em;
    padding-left: 30px;
}

.words p{
    font-size: 0.6em;
}
#toyota{
    padding-bottom: 10px;

    
}

#toyota img{
    padding-top: 0;
    width: 15%;
}

#hyundai{
    padding-bottom: 10px;
}

#kia{
    padding-bottom: 10px;
}

#nissan{
    padding-bottom: 10px;
}

#tucson{
    padding-bottom: 10px;
}
#rush{
    padding-bottom: 10px;
}

#rush img{
    width: 15%;
  
}

#honda{
    padding-bottom: 10px;
}

#honda img{
    width: 15%;
}
#rover{
    padding-bottom: 10px;
}

#lexus{
    padding-bottom: 10px;
}

#T86 img{
    width: 15%;
}
/* input dates */
.dates label{
    font-size:0.7em;
}
[type ="date"] {
    background: #fff;
    height:12px;
    border: solid yellow;

}

[type="date"]::-webkit-inner-spin-button{
    display:none;

}

[type="date"] ::-webkit-calendar-picker-indicator{
    opacity: 0;
}

.dates{
    padding-bottom: 5px;
    padding-left:2px;
}

/* payments page */
.summary{
    border-bottom: solid yellow;
    width :50%;
}
.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 48%;
    padding-top : 15px;
}

.payment{
    font-size: 0.85em;
    border: solid yellow;
    height: 500px;
    padding: 10px;
}

/* Dashboard page */
.title{
    font-size: 1em;
    padding-left: 20px;
}
.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 194px;
    grid-gap: 20px;
    margin: 20px;
    padding-bottom: 0;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(57, 136, 160);
    border: yellow solid;
    padding-bottom: 0;
    border-radius: 10px;
  }

  .overviewcard_info h1{
      font-size: 1.4em;
      padding: 0;
      text-align: end;
  }

  .overviewcard_info p{
      font-size: 0.9em;
      padding-bottom: 25px;
  }

  .overviewcard_icon .material-icons{
      /* width: 400px  ; */
      /* height: 00px ;? */
      /* font-size: 400px; */
      /* background-size: 100% 100%; */
      font-size:7rem;
      /* padding-right: 50px; */
      padding-left: 30px;
  }


  .main-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px, 1fr)); /* Where the magic happens */
    grid-auto-rows: 134px;
    grid-gap: 20px;
    margin: 20px;
    height: 600px;
  }
  
  .bookingCard {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 20px;
    background-color: rgb(57, 136, 160);
    border: yellow solid;
    border-radius: 10px;
    /* height: 200px; */
  }

  .bookingCard_img img{
      width: 170px;
      height: 90px;
      /* font-size: 400px; */
  }

  .bookingCard_info p{
      font-size: 0.9em;
      padding-left: 10px;
  }

   .main-cards h6{
       font-size: 1.2em;

   }



@media screen and (max-width: 768px){

    #hamitems{
        display:none;
        height: 1000px;
        width: 100%;
    }

    #hamnav .image img{
        display: none;
    }

    #hamnav .image label{
         text-align: end;
    }

    #hamnav label:hover{
        background: #327581d8;
    }
    #hamnav label{
        display: inline-block;
        color: black;
        /* background: #075e69cb; */
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
        
    }  
    
    #hamitems a{
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-top: 100%;
    }

    #hamtems{ display: none;}
    #hamnav input:checked ~ #hamitems {display: block}
}
@media screen and (max-width: 768px){
    /* mainpage */

    .mainPage{
        height: 100%;
    }

    .mainPage .info .pic img{
        display: none;
    }

    .para{
        padding-right: 20px;
        padding-bottom: 100px;
    }



  

#about{
    padding-top: 200px;
    padding-left: 85px;
    padding-right: 20px;
}

#ContactUs{
    padding-top: 800px;
    padding-left: 130px;
    padding-right: 20px;
}


/* listings page */
.Car1, .Car2 , .Car3,  .Car4 ,.Car5 ,.Car6 ,.Car7 ,.Car8, .Car9 ,.Car10{
    font-size: 0.8em;
}

 .Car1{
    width: 100%; 

}
.Car1 img{
    width: 100%;
}

.Car1 .name{
    width:250%;
}


.Car6{
    width: 48%;
}

.Car10{
    width: 21%;
} */

/* bookingCar */

#toyota img{
    width:1000%;
    height: 80%;
}

#rush{
    width:50%;
    height:50%;
}

/* payments */

.payment{
    height:100%;
}

/* dashboard */

.main-overview{
    width: 70%;
}

.overviewcard_info{
    font-size: 0.8em;
}
.title h1{
    font-size: 1.3em;
}
.overviewcard_icon .material-icons{
   display: none;
}
.main-cards{
    width: 100%;
}


.bookingCard{
    width: 30%;
    font-size: 0.7em;
}

.bookingCard_img img{
    width: 100px;
    height: 45px;
}

/* login */

.page h2{
    font-size: 0.9em;
}

.loginPage{
    font-size:0.7em;
}

.login{
    height: 215px;
}
}